# Django
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
*.log

# Environments
.env
.venv/


# Ngrok
*.tgz
*.ngrok
ngrok.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
*.orig
*.bak
.env
.reset_migrations.sh
.gitpush.sh
