# Django
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
staticfiles/
*.log

# Environments
.env
.venv/
venv/

# Ngrok & Executables
ngrok
*.zip
*.tgz
*.ngrok
ngrok.log
curl_response

# Custom Scripts
gitpush
gitpush.sh
clear_admin_log.sh
pg_backup.sh

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git Conflict Artifacts
*.orig
*.bak
